* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
  background: #5071a3;
  width: 100%;
  height: 100%;
}

.centered-element {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
}

.student-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 5px solid white;
  padding: 10px;
  border-radius: 50%;
}

.student-container {
  margin: -50px auto;
  padding: 80px 0;
  text-align: center;
}

.student-container h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: "Comfortaa Light", sans-serif;
}

.student-container input {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  width: 250px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300;
}

.student-container button {
  appearance: none;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #5071a3;
  border-radius: 15px;
  width: 250px;
  font-size: 18px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease  
}

.student-container div {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  text-align: left;
  padding: 10px;
  background-color: rgba(252, 252, 252, 0.2);
  border: 1px solid rgba(252, 252, 252, 0.4);
  border-radius: 3px;
}

.student-container button:hover, .student-container button:focus {
  transform: translateY(-5px); 
  cursor: pointer;
  background-color: rgb(1, 21, 85);
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.5);
}

.back-link {
  appearance: none;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #5071a3;
  border-radius: 15px;
  width: 250px;
  font-size: 18px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease  
}

.back-link:hover, .back-link:focus {
  transform: translateY(-5px); 
  cursor: pointer;
  background-color: rgb(1, 21, 85);
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.5);
}

.submit-button{
  appearance: none;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #5071a3;
  border-radius: 15px;
  width: 250px;
  font-size: 18px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease  

}

.submit-button:hover, .submit-button:focus {
  transform: translateY(-5px); 
  cursor: pointer;
  background-color: rgb(1, 21, 85);
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.5);
}

.delete-button{
  appearance: none;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 2px 4px;
  color: #5071a3;
  border-radius: 15px;
  width:100px;
  font-size: 18px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease  

}

.delete-button:hover, .delete-button:focus {
  transform: translateY(-5px); 
  cursor: pointer;
  background-color: rgb(1, 21, 85);
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.5);
}

.close-button{
  appearance: none;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 2px 4px;
  color: #5071a3;
  border-radius: 15px;
  width:100px;
  font-size: 18px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease  

}

.close-button:hover, .close-button:focus {
  transform: translateY(-5px); 
  cursor: pointer;
  background-color: rgb(1, 21, 85);
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.5);
}

.student-list-container  {
  margin: 20px auto;
  margin-bottom: 20px;
  width: 80%;
  background-color: rgba(252, 252, 252, 0.2);
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

.student-list-container h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: "Comfortaa Light", sans-serif;
  text-align: center;
  margin-top: 15px; 
  margin-bottom: 15px; 
}


.student-list-container table {
  width: 100%;
  border-collapse: collapse;
}

.student-list-container th, .student-list-container td {
  text-align: left;
  padding: 12px 15px;
  color: white;
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}

.student-list-container th {
  background-color: rgba(252, 252, 252, 0.3);
  color: rgb(1, 21, 85);
  font-weight: bold;
}

.student-list-container tr:hover {
  background-color: rgba(252, 252, 252, 0.1);
}

.student-list-container tr:nth-child(even) {
  background-color: rgba(252, 252, 252, 0.1);
}

@media screen and (max-width: 768px) {
  .student-list-container {
      width: 95%;
  }

  .student-list-container th, .student-list-container td {
      padding: 8px 5px;
  }
}

.back-to-dashboard {
  text-align: center; 
  margin-top: 20px; 
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.modal {
  background-color: #fff; 
  padding: 20px;
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  width: 90%; /* Genişlik */
  max-width: 500px; 
  z-index: 1001; 
}

.modal h2 {
  margin-top: 0;
  color: #333;
  margin-bottom: 16px; 
}

.modal p {
  font-size: 16px; 
  color: #666; 
  line-height: 1.5; 
  margin-bottom: 12px; 
}

.close-button {
  display: block; 
  width: auto; 
  padding: 8px 20px; 
  margin-top: 20px; 
  background-color: #5071a3; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-weight: bold; 
}

.close-button:hover {
  background-color: #405c8c; 
}